<div class="rh-group--layout"
    {% if misc_data %}{{ misc_data }}{%- endif %}
    {% if config.vertical_layout %} data-rh-layout="{{ config.vertical_layout }}"{%- endif %}
>
    {% if header.content or block('header') is not empty %}
        <div class="rh-group-header"
                {% if header.theme %} data-rh-theme="{{ header.theme }}" {% endif %}
                {% if header.layout %} data-rh-layout="{{ header.layout }}" {% endif %}
        >
            {% for item in header.content %}
                {% include item.template ?: item.name ~ '.twig' with item only %}
            {% else %} {% block header %}{% endblock %}
            {% endfor %}
        </div>
    {% endif %}
    <div class="rh-group-body"
            {% if body.theme %} data-rh-theme="{{ body.theme }}" {% endif %}
            {% if body.layout %} data-rh-layout="{{ body.layout }}" {% endif %}
    >
        {% for item in body.content %}
            {% include item.template ?: item.name ~ '.twig' with item only %}
        {% else %} {% block body %}{% endblock %}
        {% endfor %}
    </div>

    {% if footer.content or block('footer') is not empty %}
        <div class="rh-group-footer"
                {% if footer.theme %} data-rh-theme="{{ footer.theme }}" {% endif %}
                {% if footer.layout %} data-rh-layout="{{ footer.layout }}" {% endif %}
        >
            {% for item in footer.content %}
                {% include item.template ?: item.name ~ '.twig' with item only %}
            {% else %} {% block footer %}{% endblock %}
            {% endfor %}
        </div>
    {% endif %}
</div>
