<div class="contet">{{content|raw}}</div>


<pre>
<code>
{{'{%'}} include '{{data.name}}.twig' with
    <div id="twig_holder"></div>
only {{'%}'}}

{{'{%'}}block header {{'%}'}}

{{'{%'}}endblock {{'%}'}}


{{'{%'}}block body {{'%}'}}

{{'{%'}}endblock {{'%}'}}


{{'{%'}}block footer {{'%}'}}

{{'{%'}}endblock {{'%}'}}
</code>
</pre>

