{% spaceless %}
<div class="container-fluid">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        {%- for tab in tabs -%}
            <li class="nav-item" role="presentation">
                <a class="nav-link {{ tab.active ? "active" }}"
                    id="{{ tab.title|lower|replace(" ", "-") }}-tab"
                    href="#{{ tab.title|lower|replace(" ", "-") }}"
                    aria-controls="{{ tab.title|lower|replace(" ", "-") }}"
                    aria-selected="{{ tab.active }}"
                    role="tab" data-toggle="tab">
                    {{- tab.title -}}
                </a>
            </li>
        {%- endfor -%}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        {%- for tab in tabs -%}
            <div class="tab-pane fade{{ tab.active ? " show active" }}"
                id="{{ tab.title|lower|replace(" ", "-") }}"
                role="tabpanel" aria-labelledby="{{ tab.title|lower|replace(" ", "-") }}-tab">
                {{- tab.content|raw -}}
            </div>
        {%- endfor -%}
    </div>
</div>
{% endspaceless %}
