<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">{{ title }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#patternkit-main-nav" aria-controls="patternkit-main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="patternkit-main-nav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                {% for key, category in categories %}
                <li class="nav-item dropdown p-2 pr-1">
                    {% set cat_key = (category.title ?: key)|lower|replace(" ","-") %}
                    {% set active_child = false %}
                    {% for item in category.items if item.active %}
                        {% set active_child = true %}
                    {% endfor %}
                    <a href="#" class="nav-link dropdown-toggle{{ active_child ? ' active' }}" id="{{ cat_key }}-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{- category.title ?: key -}}s
                    </a>
                    <div class="dropdown-menu" aria-labelledby="{{ cat_key }}-dropdown">
                        {% for item in category.items %}
                            <a class="dropdown-item{{ item.active ? ' active' }}" href=" {{ path( 'schema', { pattern : item.path } ) }} ">{{ item.title }}</a>
                        {% endfor %}
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% if sg_active %}
            <div class="navbar-nav">
                <a class="btn btn-lg btn-outline-light mr-2" href="/sg/">Styleguide</a>
                <a class="btn btn-lg btn-outline-light" data-toggle="button" aria-pressed="false" id="direct_link" href="">Update URL</a>
            </div>
            {% endif %}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
